<% if @recipes.empty? %>
  <h2>There are no recipes yet</h2>
<% end %>

<div>
  <a href="<%= new_recipe_path %>">Add a Recipe</a>
  <%= link_to "Log Out", sign_out_user_path %>
</div>

<div>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <div>
          <div>
            <h2><%= link_to recipe.name, recipe_path(recipe) %></h2>
            <button>
              <%= link_to 'REMOVE', recipe_path(recipe), method: :delete, data: { "turbo-method": :delete} %>
            </button>
          </div>
          <div>
            <p><%= recipe.description %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
